@tailwind base;
@tailwind components;
@tailwind utilities;

.padding-content {
    padding-top: 2%;
}

.editingUserButton {
    @apply bg-blue-500 w-5 h-5 rounded-full;
}

.ableUserButton {
    @apply bg-red-500 w-5 h-5 rounded-full;
}

.containerImagemLogoNavbar {
    @apply w-10 h-10;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {

}

.mainScreen- {
    @apply bg-gray-300;
}

body {
    @apply bg-gray-300
}

.errorMessage {
    @apply bg-red-100 border border-red-400 w-6/12 text-red-700 justify-center self-center flex
}